*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Zen Kurenaido;
  scroll-behavior: smooth;
}

body 
{
  font-family: "Montserrat-Regular";
  color: #fff;
  font-size: 15px;
background-image: linear-gradient(rgba(0,2,0,1.6),rgba(0,0,0,0.3)),url("pic6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: fit-content;
  margin: 0; 
  position: relative;
  
}

input, textarea, select, button {

  font-family: "Montserrat-Regular";
  color: #fff;
  font-size: 15px; 
}


a:hover 
{
  text-decoration: none; 
}

:focus 
{
  outline: none; 
}

.wrapper 
{
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.inner 
{
  
  margin: auto;
  background color: black;
background-size: cover;
  width:fit-content;
  align-content: center;
 
}

textarea 
{
  resize: none; 
}

h3 
{
  text-transform: uppercase;
  font-size: 45px;
  font-family: "Montserrat-Bold";
  text-align: center;
  margin-bottom: 12px; 
}

p 
{
  text-align: center;
  padding: 0 10px;
  margin-bottom: 55px;
  line-height: 1.8; 
}

.form-group 
{
  position: relative;
  display: block;
  margin-bottom: 48px; 
}

  .form-group span 
  {
    font-size: 20px;
    color: #00ade6;
    position: absolute;
    top: 11px;
    transition: all .2s ease;
    transform-origin: 0 0;
    cursor: text; 
  }

  .form-group span.border 
  {
    height: 2px;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 41px;
    transform: scaleX(0);
    transition: all .15s ease;
    background: #fff; 
  }

.form-control 
{
  border: none;
  border-bottom: 2px solid #00ade6;
  display: block;
  width: 100%;
  height: 43px;
  font-size: 15px;
  background: none;
  font-family: "Montserrat-SemiBold"; 
}

  .form-control:focus, .form-control:valid 
  {
    border-bottom: 2px solid #fff; 
  }
    .form-control:focus + span, .form-control:valid + span 
    {
      transform: translateY(-22px) scale(0.8); 
    }
      .form-control:focus + span + .border, .form-control:valid + span + .border 
      {
        transform: scaleX(1);
         }

textarea.form-control 
{
  padding-top: 10px;
  padding-bottom: 10px; 
}

button 
{
  border: none;
  width: 162px;
  height: 51px;
  border: 2px solid #fff;
  margin: auto;
  margin-top: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat-SemiBold";
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; 
}
  button i 
  {
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; 
  }
  button:before 
  {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; 
  }

  button:hover 
  {
    border-color: transparent; 
  }

    button:hover:before 
    {
      -webkit-transform: scaleX(1);
      transform: scaleX(1); 
    }

    button:hover i {
      -webkit-transform: translateX(4px);
      transform: translateX(4px); 
    }
    nav{
  width: 100%;
  height: 50px;
  background-color: black;
  line-height: 50px;
  
}

@media (max-width: 767px) 
{
  h3 {
    font-size: 38px; 
  }

  p {
    font-size: 14px;
    padding: 0; 
  }

  .inner {
    padding: 27px 20px 37px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none; }

  .wrapper {
    background: #39459b;
    border: 10px solid #0d99d7; } }



nav{
  flex: 1;
  text-align: right;
padding-top: 1%;
}
nav ul{
  float: right;
  margin-right: 30px;
  background-color: black;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}
nav ul li a:hover{
  border-bottom: 4px solid #088;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
ul li a.active
{
  border-bottom: 4px solid white; 
}

.foot{
  text-align: center;
  color: white;
  font-size: 30px;
}

.btn{
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.btn i{
  line-height: 60px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}
